<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs react replacement</title>
</head>
<body>
    <form class="item" action="/register" method="post">
        <input name="email" placeholder="email" required>
        <input name="password" placeholder="password" required>
        <button type="submit">register</button>
    </form>

    <form class="item" action="/login" method="post">
        <input name="email" placeholder="email" required>
        <input name="password" placeholder="password" required>
        <button type="submit">login</button>
    </form>
</body>
</html>